/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #eef2f7;
}

/* Container */

.container{
    width: 80%;
    margin: 60px auto;
    text-align: center;
}

/* Heading */

.container h1{
    font-size: 55px;
    margin-bottom: 30px;
    color: #222;
}

/* Form */

form{
    margin-bottom: 40px;
}

input{
    width: 330px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
}

input:focus{
    border-color: #2196F3;
}

button{
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    background: #2196F3;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
    transition: .3s;
}

button:hover{
    background: #1565C0;
}

/* Weather Card */

.weather-card{

    width: 450px;

    margin: 40px auto;

    padding: 30px;

    background: white;

    border-radius: 20px;

    box-shadow: 0 10px 25px rgba(0,0,0,.12);

    transition: .3s;
}

.weather-card:hover{

    transform: translateY(-5px);

    box-shadow: 0 15px 35px rgba(0,0,0,.18);
}

/* City */

.weather-card h2{

    font-size: 28px;

    color: #222;

    margin-bottom: 10px;
}

/* Temperature */

.weather-card h1{

    font-size: 65px;

    color: #1565C0;

    margin: 15px 0;
}

/* Weather Condition */

.weather-card h3{

    color: #666;

    margin-bottom: 25px;

    font-size: 24px;

    font-weight: normal;
}

/* Weather Details */

.weather-info{

    text-align: left;

    margin-top: 20px;
}

.weather-info p{

    margin: 12px 0;

    font-size: 18px;

    color: #444;
}

/* Weather Icon */

.weather-card img{

    width: 90px;

    margin: 10px 0;
}

/* Mobile Responsive */

@media(max-width:600px){

    .container{

        width:95%;
    }

    .container h1{

        font-size:38px;
    }

    input{

        width:100%;

        margin-bottom:15px;
    }

    button{

        width:100%;

        margin-left:0;
    }

    .weather-card{

        width:100%;

        padding:20px;
    }

    .weather-card h1{

        font-size:50px;
    }

}

.error{

    color:red;

    font-size:18px;

    margin-top:20px;

    font-weight:bold;
}